<head>
    <title>Edit Token</title>
</head>

<body>
<br><br>
<h1>Enter your edit token :</h1><br><br>

<form method = "POST" action = "/edit">

<input type = "text" placeholder = "Enter your edit token" name = "edit_t" id = "edit_t" /><br><br>
<input type = "submit" value = "Continue" /> 

</form>

</body>