<head>
    <title>Connect'24</title>
</head>
<body>
<h1>IITG Connect : 2020-24</h1>

<br><br>
<form action = "/search" , method = "POST">
    <input type = "text" placeholder="Search" name = "search" id = "search"/>
    <input type = "submit" value = "search" />
</form><br><br>

<button id = "create" onClick ="location.href='/create'">Create Profile</button><br><br>
<button id = "edit" onClick ="location.href='/edit_token'">Edit profile</button>


</body>